<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.capstonebackend.capstone_project.dao.CredentialsDao">

    <resultMap id="CredentialMap" type="dev.capstonebackend.capstone_project.domain.Credentials">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="full_name" property="fullName" />
        <result column="license_type" property="licenseType" />
        <result column="license_number" property="licenseNumber" />
        <result column="issuing_state" property="issuingState" />
        <result column="license_expiration_date" property="licenseExpirationDate" />
    </resultMap>

    <!-- 插入记录 -->
    <insert id="insertCredential" parameterType="dev.capstonebackend.capstone_project.domain.Credentials"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO credentials (
        user_id,
        full_name,
        license_type,
        license_number,
        issuing_state,
        license_expiration_date
        ) VALUES (
        #{userId},
        #{fullName},
        #{licenseType},
        #{licenseNumber},
        #{issuingState},
        #{licenseExpirationDate}
        )
    </insert>

    <!-- 根据ID查询 -->
    <select id="selectById" resultType="dev.capstonebackend.capstone_project.domain.Credentials">
        SELECT *
        FROM credentials
        WHERE id = #{id}
    </select>

    <select id="selectByUserId" parameterType="java.lang.Object" resultMap="CredentialMap">
        SELECT *
        FROM credentials
        WHERE user_id = #{userId}
    </select>


</mapper>
