<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.capstonebackend.capstone_project.dao.MessageRecordDao">

    <resultMap id="MessageRecordResultMap" type="dev.capstonebackend.capstone_project.domain.MessageRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="conversation_id" property="conversationId" />
        <result column="message" property="message" />
        <result column="sensitive_flag" property="sensitiveFlag" />
        <result column="created_at" property="createdAt" />
        <result column="modified_at" property="modifiedAt" />
        <result column="sender" property="sender" />
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO message_record (user_id, conversation_id, message)
        VALUES
        <foreach collection="messageList" item="message" separator=",">
            (#{message.userId}, #{message.conversationId}, #{message.message})
        </foreach>
    </insert>

    <select id="selectByConversationId" resultMap="MessageRecordResultMap">
        SELECT *
        FROM (
                 SELECT *
                 FROM message_record
                 WHERE conversation_id = #{conversationId}
                 ORDER BY created_at DESC
                     LIMIT 16
             ) AS recent_messages
        ORDER BY id ASC
    </select>

    <insert id="insertMessage" parameterType="dev.capstonebackend.capstone_project.domain.MessageRecord"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message_record (user_id, conversation_id, message, sender)
        VALUES (#{userId}, #{conversationId}, #{message}, #{sender})
    </insert>

    <select id="selectMessagesByConversationIds" parameterType="list" resultMap="MessageRecordResultMap">
        SELECT * FROM message_record
        WHERE conversation_id IN
        <foreach collection="list" item="conversationId" open="(" separator="," close=")">
            #{conversationId}
        </foreach>
        ORDER BY id ASC
    </select>

    <select id="selectRecentMessages" parameterType="list" resultMap="MessageRecordResultMap">
        SELECT * FROM message_record
        WHERE conversation_id IN
        <foreach collection="list" item="conversationId" open="(" separator="," close=")">
            #{conversationId}
        </foreach>
        ORDER BY created_at DESC
        LIMIT 10
    </select>

    <update id = "updateSensitiveFlag" parameterType = "java.util.Objects">
        UPDATE message_record
        SET sensitive_flag = 1
        WHERE id = #{messageId}
    </update>

</mapper>
