<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.capstonebackend.capstone_project.dao.UserConnectionDao">

    <!-- 插入用户关系 -->
    <insert id="insertUserConnection" parameterType="dev.capstonebackend.capstone_project.domain.UserConnection">
        INSERT INTO user_connections (therapist_id, client_id, client_name)
        VALUES (#{therapistId}, #{clientId}, #{clientName})
    </insert>

    <!-- 根据用户名删除用户关系 -->
    <delete id="deleteUserConnection" parameterType="java.lang.Object">
        DELETE FROM user_connections
        WHERE therapist_id = #{therapistId} AND client_id = #{clientId}
    </delete>

</mapper>
