<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.capstonebackend.capstone_project.dao.UserDao">

    <resultMap id="UserResultMap" type="dev.capstonebackend.capstone_project.domain.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="user_code" property="userCode" />
        <result column="role" property="role" />
        <result column="created_at" property="createdAt" />
        <result column="modified_at" property="modifiedAt" />
        <result column="token" property="token" />
    </resultMap>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="dev.capstonebackend.capstone_project.domain.User">
        INSERT INTO users (username, password, user_code)
        VALUES (#{username}, #{password}, #{userCode})
    </insert>

    <!-- 根据 ID 查询用户 -->
    <select id="selectUserById" parameterType="java.lang.Long" resultType="dev.capstonebackend.capstone_project.domain.User">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <!-- 根据用户名查询用户 -->
    <select id="selectUserByUserName" parameterType="java.lang.String" resultMap="UserResultMap">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="dev.capstonebackend.capstone_project.domain.User">
        UPDATE users
        SET
        username = #{username},
        password = #{password},
        token = #{token},
        role = #{role}
        WHERE id = #{id}
    </update>

    <!-- 根据用户名删除用户 -->
    <delete id="deleteUserByUserName" parameterType="java.lang.String">
        DELETE FROM users WHERE username = #{username}
    </delete>

    <!-- 根据 token 查询用户 -->
    <select id="selectUserByToken" parameterType="java.lang.String" resultType="dev.capstonebackend.capstone_project.domain.User">
        SELECT *
        FROM users
        WHERE token = #{token}
    </select>

    <select id="selectUserByCode" parameterType="java.lang.String" resultMap="UserResultMap">
        SELECT *
        FROM users
        WHERE user_code = #{userCode}
    </select>

</mapper>
